@font-face {
  font-family: 'Roboto';
  src:
  url('./fonts/Roboto-Regular.woff') format('woff'),
  url('./fonts/Roboto-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  }


@font-face {
  font-family: 'YesevaOne';
  src:
  url('./fonts/YesevaOne-Regular.woff') format('woff'),
  url('./fonts/YesevaOne-Regular.woff2') format('woff2');;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}