@import 'fonts'
$white: #FFFFFF
$blue: #4D6D89
$grey: #E5E5E5
$blue2: rgba(217, 230, 238, 0.71)

html
  font-size: 14px
body
.header
  background-image: url('./images/main.png')
  background-size: 100%
  background-repeat: no-repeat
  background-position: center 0.714rem
.main
  background-color: $blue
.container
  max-width: 114.28rem
  margin: auto
.menu
  display: flex
  justify-content: space-between
  align-items: center
  padding-top: 2.14rem
  padding-bottom: 2.14rem
  margin-bottom: 10rem
.button
  padding: 1.07rem 1.214rem
  font-family: Roboto, sans-serif
  font-style: normal
  font-weight: normal
  font-size: 1.5rem
  line-height: 1.785rem
  color: $white
  background: #222C33
  border-radius: 0.42rem
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
  cursor: pointer
  border: none
  outline: none
  transition: all 0.6s
  &:hover
    color: #222C33
    background: $white
    transition: all 0.6s
    text-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25)
    
.logo
  font-style: normal
  font-weight: bold
  font-size: 2.57rem
  line-height: 3rem
  font-family: Roboto, sans-serif
  color: $white
  text-decoration: none
.nav
  &__link
    margin-right: 1.5rem
    color: $white
    text-decoration: none
    font-family: Roboto, sans-serif
    font-style: normal
    font-weight: normal
    font-size: 1.285rem
    line-height: 1.5rem
    cursor: pointer
    position: relative
    text-decoration: none
    &::before
      content: ""
      width: 0
      height: 0.1em
      position: absolute
      bottom: -0.2rem
      left: 0
      background: $white
      transition: all 0.3s
    &:hover
      color: $blue2
      &::before 
        width: 100%
        left: 0
        background: $white


.phone
  color: $white
  font-family: Roboto, sans-serif
  font-style: normal
  font-weight: normal
  font-size: 1.285rem
  line-height: 1.5rem
  text-decoration: none
  cursor: pointer

.hero
  padding-bottom: 32rem
  &__button
    padding: 1rem 1.9rem
    // margin-bottom: 27.78rem
  &__content
    display: flex
    flex-direction: column
    

  &__header
    margin: 0
    font-family: YesevaOne, sans-serif
    font-style: normal
    font-weight: normal
    font-size: 3.214rem
    line-height: 3.714rem
    text-transform: uppercase
    color: $white
    max-width: 50rem
    margin-bottom: 2.5rem

  &__description
    display: inline-block
    font-family: Arial, sans-serif
    font-style: normal
    font-weight: normal
    font-size: 2.57rem
    line-height: 2.92rem
    color: #222C33
    max-width: 43rem
    margin-bottom: 2.5rem
.advantages
  display: flex
  flex-direction: column
  background-color: $blue2
  padding-bottom: 2rem

.title
  font-family: Roboto, sans-serif
  font-style: normal
  font-weight: bold
  font-size: 2.214rem
  line-height: 2.57rem
  text-transform: uppercase
  color: #000000
  text-align: center
  margin-top: 6.35rem
  margin-bottom: 5.78rem
.cards
  display: flex
  justify-content: space-between
  align-items: flex-start
.card
  flex-basis: 20%
  &__img
    height: 20.214rem
    width: 19.07rem
    margin-bottom: 3.57rem
  &__text
    font-family: Roboto, sans-serif
    font-style: normal
    font-weight: normal
    font-size: 2rem
    line-height: 2.35rem
    text-transform: uppercase
    color: #000000
    text-align: left
.company
  background-image: url('./images/globus.jpeg')
  background-size: 100%
  background-repeat: no-repeat
  position: relative
  &:after 
    content: ''
    position: absolute
    left: 0
    top: 0
    right: 0
    bottom: 0
    z-index: 1
    width: 100%
    height: 100%
    background: $white
    opacity: 0.1
  &__title
    padding-top: 7.5rem
    margin-top: 0
    margin-bottom: 1.64rem
  &__block
    padding-bottom: 2.71rem
  &__description
    font-family: Roboto, sans-serif
    font-style: normal
    font-weight: bold
    font-size: 1.93rem
    line-height: 2.29rem
    text-align: justify
    text-transform: uppercase
    color: #000000
    max-width: 74.36rem
.services
  padding-top: 6.14rem
  padding-bottom: 9.57rem
  background-color: $blue2
  &__title
    margin-top: 0
    margin-bottom: 2.5rem
  &__cards
  &__card
    display: flex
    flex-direction: column
    align-items: center
    flex-basis: 30%
    &__text
      text-align: center
.trucks
  background-image: url('./images/lines.png')
  background-size: 100%
  background-repeat: no-repeat
  position: relative
  padding-top: 4.41rem
  padding-bottom: 9.57rem
  &:after 
    content: ''
    position: absolute
    left: 0
    top: 0
    right: 0
    bottom: 0
    z-index: 0
    width: 100%
    height: 100%
    background: linear-gradient(180deg, rgba(210, 236, 252, 0.81) 0%, rgba(144, 182, 203, 0.712969) 63.02%, rgba(228, 237, 243, 0.81) 100%)

  &__title
    position: relative
    z-index: 1
    margin-top: 0
    margin-bottom: 2.64rem
  &__subtitle
    position: relative
    z-index: 1
    font-family: Roboto, sans-serif
    font-style: normal
    font-weight: normal
    font-size: 1.93rem
    line-height: 2.28rem
    text-align: center
    text-transform: uppercase
    display: block
    margin: auto
    max-width: 90rem
    margin-bottom: 5.29rem
  &__slider
    width: 35.714rem
    height: 32.14rem
.contact
  background: $blue2
  &__title
    padding-top: 2rem
    margin: 0
    margin-bottom: 3.92rem
  &__img
    width: 3rem
    height: 2.214rem
  &__address
    display: flex
    justify-content: space-between
.contacts
  font-family: Roboto, sans-serif
  font-style: normal
  font-weight: bold
  font-size: 2.214rem
  line-height: 2.571rem
  text-transform: uppercase
  color: #000000
  &__block
    display: flex
    flex-direction: column
    margin-bottom: 3.5rem
  &__subtitle
    margin-left: 3.5rem
  &__number
    padding: 0
    margin: 0
    list-style-type: none
    margin-left: 10rem
  &__img
    vertical-align: top
    width: 3rem
    height: 2.214rem

.address
  font-family: Roboto, sans-serif
  font-style: normal
  font-weight: bold
  font-size: 2.214rem
  line-height: 2.571rem
  text-transform: uppercase
  color: #000000
  &__block
    display: flex
    flex-direction: column
    margin-bottom: 3.5rem
  &__subtitle
    display: flex
  &__name
    max-width: 45rem
  &__marker
    width: 5rem
    height: 4.5rem
.map
  width: 57.14rem
  height: 34rem
  border: 0
  frameborder: 0
.footer
  &__menu
    margin-bottom: 0

.modal
  display: none
  position: fixed
  height: 100%
  width: 100%
  top: 0
  left: 0
  z-index: 999
  &__visible
    display: block
  &__form
    padding-top: 3rem
    padding-bottom: 4rem
  &__dialog
    background: rgb(217, 230, 238)
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
    max-width: 36.4rem
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%,-50%)

  &__close
    display: flex
    justify-content: flex-end
    background: $blue
    &-button
      padding: 1rem
      height: 4.28rem
      width: 4.28rem
  &__input
    &-group
      display: flex
      flex-direction: column
      margin: 0 3.714rem

  &__label
    font-family: Roboto, sans-serif
    font-style: normal
    font-weight: bold
    font-size: 2.214rem
    line-height: 2.571rem
    text-transform: uppercase
    color: #000000
    margin-bottom: 1.714rem
  &__input
    font-family: Roboto, sans-serif
    font-style: normal
    font-weight: bold
    font-size: 2.214rem
    line-height: 2.571rem
    text-transform: normal
    color: #000000
    margin-bottom: 1.928rem
    padding: 0.714rem
    border: none
  &__button
    text-align: center
    text-transform: uppercase
    &__block
      margin: 0 3.714rem

@media screen and ( max-width: 1851px)
  html
    font-size: 10px
@media screen and ( max-width: 1601px)
  html
    font-size: 12px
@media screen and ( max-width: 1401px)
  html
    font-size: 10px
@media screen and ( max-width: 1201px)
  html
    font-size: 9px
@media screen and ( max-width: 992px)
  html
    font-size: 7px
@media screen and ( max-width: 768px)
  html
    font-size: 7px
  .container
    max-width: 93.28rem
  .hero
    padding-bottom: 15rem
  .menu
    display: flex
    justify-content: space-between
    &__button
      display: none
  .nav
    display: none
  .phone
    font-size: 2.285rem
  .hero__button
    padding: 1.5rem 2.9rem
    font-size: 2.5rem
  .company
    background-size: 125%
  .swiper-slide
    width: 25.714rem
    height: 23.14rem
@media screen and ( max-width: 576px)
  html
    font-size: 7px
  .container
    max-width: 59.28rem
  .hero
    padding-bottom: 8rem
    &__description
      display: none
  .cards
    flex-wrap: wrap
  .company
    background-size: 200%
  .services__card
    flex-basis: 100%
  .trucks
    display: none
  .contact
    background: #B2DBF4
  .contact__address
    flex-wrap: wrap
    justify-content: center
  .map
    margin-bottom: 3rem
@media screen and ( max-width: 375px)
  html
    font-size: 7px
  .container
    max-width: 44.28rem
  .header
    background-size: 190%
  .company
    display: none
  .services
    display: none
  .map
    width: 44.14rem